---
foo: "bar"
bar: "baz"
obj:
  a: "A"
  b: "B"
  c: "C"
  d:
    e:
      "f"
items:
  - "Apples"
  - "Bananas"
  - "Oatmeal"
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
  </head>
  <body>
    {{ foo }}
    {{ foo }}

    {{ foo | first }}

    {% set l = ["bar", "baz"] | first %}

    {{ l }}

    {{ foo }}

    {{ bar }}

    {{ obj }}
    {{ obj.a.b.c.d }}
    {{ obj.d.e.f }}
    {{ obj.b }}
    {{ obj.c }}

    {{ obj.d.f }}

    {{ eleventy.version }}

    {{ eleventy }}
    {{ eleventy.version }}
    {{ foo }}

    {% for item in items %}
      {{ item }}
    {% endfor %}

    {% include "foo.bar" ignore missing %}
  </body>
</html>
