---
foo: "bar"
bar: "baz"
obj:
  a: "A"
  b: "B"
  c: "C"
  d:
    e:
      "f"
items:
  - "Apples"
  - "Bananas"
  - "Oatmeal"
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
  </head>
  <body>
    {{ foo }}
    {{ foo }}

    {{ foo | first }}

    {{ foo }}

    {{ bar }}

    {{ obj }}
    {{ obj.a.b.c.d }}
    {{ obj.d.e.f }}
    {{ obj.b }}
    {{ obj.c }}

    {{ obj.d.f }}

    {{ eleventy }}

    {{ eleventy }}

    {{ eleventy.env }}

    {{ page.inputPath }}

    {{ page }} {{ eleventy.version }} {{ page }}

    {{ fiz }}
    {{ page }}

    {{ eleventy }}

    {{ key }}

    {{ eleventy }}

    {{ page.f }}

    {{ items }}

    {{ foo }}


    {{ foo }}

    {% for item in items %}
      {{ item }}
    {% endfor %}
  </body>
</html>
