---
foo: "bar"
bar: "baz"
obj:
  a: "A"
  b: "B"
  c: "C"
  d:
    e:
      "f"
items:
  - "Apples"
  - "Bananas"
  - "Oatmeal"
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title></title>
  </head>
  <body>
    {{ foo }}
  </body>
</html>
